.card {
  width: 100%;
  max-width: 420px;
  /* background-color: aqua; */
  /* height: auto; */
  background: var(--card-color);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card:hover {
  box-shadow: 0 25px 50px rgba(168, 85, 247, 0.3);
}

.imageWrapper {
  height: 500px;
  /* overflow: hidden; */
  position: relative;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, var(--card-color));
  pointer-events: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card:hover .image {
  transform: scale(1.1);
}

.content {
  display: flex;
  flex-direction: column;
  /* height: 100px; */
  padding: 10px;
}

.title {
  margin-top: 10px;
  /* margin: 0 0 10px 0; */
  font-size: 1.4rem;
  font-family: "Poppins-bold";
  color: var(--secondary-color);
}

.description {
  font-size: 0.95rem;
  color: var(--text-color);
  font-family: "Poppins-regular";
  margin-bottom: 20px;
  line-height: 1.5;
  opacity: 0.85;
  flex: 1;
}

.buttons {
   display: flex;
  /* grid-template-columns: repeat( 4, minmax(0, 1fr)); */
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  /* align-self: last baseline; */
  /* background-color: aqua; */
  /* gap: 10px; */
  /* margin: 30px 0; */
}

.buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  padding: 12px 0;
  background-color: var(--secondary-color);
  /* background: rgba(99, 102, 241, 0.2); */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(99, 102, 241, 0.3);
  color: var(--text-color);
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: "Poppins-medium";
  align-items: center;
  justify-content: center;
  align-self: center;
}

.buttons div:hover {
  background: var(--primary-color);
  border-color: var(--secondary-color);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(168, 85, 247, 0.4);
  
  /* color: var(--text-color); */

}
.svg{
  font-size: 1.0rem;
  color: var(--btn-color);
}
.buttonText {
  font-size: 0.9rem;
  font-family: "Poppins-medium";
  color: var(--btn-color);
}
.buttons div:hover .buttonText {
  color: var(--text-color); /* or var(--your-color) */
}

.buttons div:hover svg {
  color: var(--text-color); /* for icon color */
}

/* .buttonText:hover {
} */

@media screen and (max-width: 768px) {
  .card {
    max-width: 100%;
    /* height: 400px; */
  }

  .title {
    font-size: 1.3rem;
  }

  .description {
    font-size: 0.9rem;
  }
}