.customcursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  /* mix-blend-mode: difference; */
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: var(--navText-shadow); 
  
}