body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  /* font-family: Urbanist-bold; */
}

::-webkit-scrollbar {
  display: none;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */


@media (prefers-color-scheme: light) {

}
