@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Poppins-Extrabold';
  src: local('extra-bold'), url(./assets/fonts/Poppins-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-bold';
  src: local('bold'), url(./assets/fonts/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-regular';
  src: local('regular'), url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-semibold';
  src: local('semibold'), url(./assets/fonts/Poppins-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-medium';
  src: local('medium'), url(./assets/fonts/Poppins-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Extralight';
  src: local('extra-light'), url(./assets/fonts/Poppins-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-light';
  src: local('light'), url(./assets/fonts/Poppins-Light.ttf) format('truetype');
}
/* @font-face {
  font-family: 'Poppins';
  src: local('medium'), url(./assets/fonts/Poppins-Medium.ttf) format('truetype');
} */
@font-face {
  font-family: 'Poppins-black';
  src: local('black-Poppins'), url(./assets/fonts/Poppins-Black.ttf) format('truetype');
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  font-family: "Poppins-medium";
   cursor: none;
}

::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: linear-gradient(to right, #0f172a 20%, #1e1b4b 80%);
  --secondary-color: #FFD43B;
  --sub-secondary-color: #747070;
  --navText-color: #C7B8B8;
  --navText-shadow: 0 0 10px #ffd43b, 0 0 20px #ffd43b, 0 0 30px #ffd43b;
  --card-color: linear-gradient(145deg, #1f1f1f, #2a2a2a);
  --conic-border: conic-gradient(
    from 0deg,
    #ffd43b,
    #ffffff,
    #ffd43b
  );
  /* --navTextActive-color: ""; */

  --light-blue: #E5EDF6;
  --light-text: #c7b8b8;
  --border-color: rgba(156, 164, 171, 0.6);

  --white-color: #ffffff;
  --black-color: #000000;
  --light-grey: #b1b1b9;
  --dark-grey: #202020;
  --green-color: #2FCE8C;
  --font-family: "Poppins-medium";
   /*--lily-font-family: "Lily Script One", system-ui;
  --heading-font-family: "Barlow", sans-serif; */
  --para-text: #77777e;
  --input-bg: #f1f5f6;
  --input-txt: #8d8d8d;
  --input-border: #dddddd;
  --placeholder-text: #222b45;
  --heading1-font-size: 25px;
  --heading-font-size: 30px;
  --dashboard_tabs-font-size: 18px;
  --paragraph-font-size: 16px;
  --sub_heading: 23px;
  --heading2-font-size: 20px;
  --mobile-heading: 14px;
  --mobile-sub-heading: 12px;
  --mobile-font: 10px;
  
}
body, 
html, 
* {
  transition: 
    background-color 0.5s ease,
    color 0.5s ease,
    border-color 0.5s ease,
    background 0.5s ease,
    box-shadow 0.5s ease;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
.theme-fade {
  animation: fadeTheme 0.4s ease-in-out;
}

@keyframes fadeTheme {
  from {
    opacity: 0.6;
    transform: scale(1.02);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (prefers-color-scheme: light) {

}
